#about-page { position: relative; top: -38rem; background-image: unquote( nth( $rg, 1 ) ); z-index: 1;
  & .content-container { @include set-grid; @include row-flex; @include abs-center( left ); z-index: 1;
    & .side-image { order: 1; margin-bottom: 5rem; filter: unquote( nth( $ds, 2 ) ) }
    & .text-container { max-width: 39rem; order: 3; margin-top: 7.5rem;
      & .heading-container { margin-bottom: 4.4rem;
        & .title { font-size: 6.5rem; line-height: .86; letter-spacing: -.2rem; text-transform: uppercase } }
      & .text-set {
        & .highlight { font: { size: 2rem; weight: 500 };
          & .text { line-height: 1.5 } }
        & .text {
          &:not( :first-child ) { margin-top: 2.5rem }
          &:not( :last-child ) { margin-bottom: 2.5rem } } } }
    & .image-set { order: 2;
      & .board { filter: unquote( nth( $ds, 1 ) ) }
      & .swan {  } } }
  & .circle { position: absolute; left: 32%; top: 14.7rem; @include shape-circle( 70rem, transparentize( $default-bg, .5 ) ) } }
