#top-footer .copyright { flex-grow: 1; @include column-flex( center );
  & .content-container { @include set-grid; @include row-flex;
    & .copyright-info { @include row-flex; font: { family: $f-sans-2; size: 1.6rem; weight: 400 }; color: nth( $c-4, 6 );
      & .links-list { margin-right: 4.5rem;
        & li { display: inline-block; @include topic-separator( 5rem ) } }
      & .copyright-container {
        & .message { cursor: default } } }
    & .cards-set {
      & .payment-card {
        &:not( :last-of-type ) { margin-right: 1.5rem } } } }
@media ( max-width: 74.95em /* 1199px */ ) { background-color: nth( $c-4, 9 );
  & .content-container { min-height: 6rem; padding: { top: 2rem; bottom: 2rem } } }
@media ( max-width: 53.1em /* 849px */ ) {
  & .content-container {
    & .copyright-info { width: 100%;
      & .links-list { margin-right: 0;
        & li { @include topic-separator( 3rem ) } } }
    & .cards-set { display: none } } }
@media ( max-width: 37.45em /* 599px */ ) {
  & .content-container {
    & .copyright-info { flex-direction: column;
      & > :not( :last-child ) { margin-bottom: 2rem } } } }
@media ( max-width: 21.85em /* 359px */ ) {
  & .content-container {
    & .copyright-info { font-size: 1.4rem } } } }
