#top-footer .general-info { box-sizing: border-box; height: 28rem; padding: 3.8rem 0;
  & > .content-container { @include set-grid; @include row-flex( $side: flex-start );
    @include logo-1;
    & > .info-container { flex-basis: 46rem; margin-top: 2.4rem; font: { size: 1.4rem; weight: 500 }; color: white; @include row-flex( $side: flex-start );
      & .title { font: { family: $f-sans-1; size: 1.2rem; weight: 500 }; text-transform: uppercase; margin-bottom: 2.4rem }
      & ul li, .contact-us .line {
        &:not( :last-child ) { margin-bottom: 1.2rem } }
      & .contact-us { cursor: default } }
    & > .content-set { margin-top: 2.4rem;
      @include form-1( "[ name$='contact-form' ]" );
      & .social-list { @include list-1 } } }
@media ( max-width: 74.95em /* 1199px */ ) { height: auto; background-color: nth( $c-4, 8 );
  & > .content-container { flex-direction: column; justify-content: space-evenly; align-items: center;
    & > * { margin: 2.5rem 0 }
    & > .info-container { width: 100%; flex-basis: auto; flex-flow: wrap; justify-content: space-evenly;
      & > :not( :last-child ) { margin-right: 2rem }
      & > .content-set { text-align: center;
        @include form-1( "[ name$='contact-form' ]", 2.4rem, 1.4rem );
        & .social-list { @include list-1 } } } } }
@media ( max-width: 53.1em /* 849px */ ) {
  & > .content-container {
    & > .info-container {
      @include logo-1;
      & > .content-set { flex-basis: 100%; order: 1; margin: { top: 4.5rem; right: 0 };
        & form[ name$='contact-form' ] {
          & .heading-container { width: moz-fit-content; width: fit-content; margin: { left: auto; right: auto };
            & .decorative-border {  width: 100%; left: 0 } } } } } } }
@media ( max-width: 47.45em /* 759px */ ) {
  & > .content-container {
    & > .info-container {
      & .logo-container { flex-basis: 100%; align-items: center; margin: { right: 0; bottom: 4rem } } } } }
@media ( max-width: 37.45em /* 599px */ ) {
  & > .content-container {
    & .info-container { flex-direction: column; align-items: center; text-align: center;
      & > :not( .content-set ) { margin: 0 0 4.5rem }
      & > .content-set { margin: 0 } } } }
@media ( max-width: 21.85em /* 359px */ ) {
  & > .content-container {
    & .info-container {
      & .content-set {
        & form[ name$='contact-form' ] {
          & .heading-container {
            & .title { font-size: 1.5rem }
            & .decorative-border { width: 85%; left: 1.5rem } } } } } } } }
