#indoors { padding-top: 4.6rem;
  @include frame-container-1( ( image: o-get-img( large, "cellphone-2.jpg" ), position: right 5rem, size: auto ) ) {
    & > .content-container { @include set-grid;
      @include title-1( nth( $c-2, 2 ), nth( $c-2, 3 ) ) }
    & .fitmat { position: relative;
      & > .content-container { @include set-grid( ( 3.5rem, 0 ), 0 ); @include row-flex( flex-start, flex-start );
        & .content-body { max-width: 76.5rem; margin-right: 7.8rem;
          @include title-4;
          & .text-set { margin-bottom: 5.5rem;
            & .text {  } }
          @include anchors-block-1 }
        & .side-image { position: relative; top: -10rem;
          & .cellphone { position: relative; z-index: 1; margin-top: 6.2rem }
          & .splash { position: absolute; left: -5rem; bottom: -5.5rem;
            & img { width: auto } } } } } }
@media ( max-width: 96.85em /* 1549px */ ) {
  & .frame-container { background-size: 80rem } }
@media ( max-width: 84.35em /* 1349px */ ) { margin-bottom: 12rem;
  & .frame-container { background-image: none;
    & .fitmat {
      & > .content-container {
        & .content-body { max-width: none; text-align: center; margin-right: 0;
          & .heading-container {
            & .heading-set { flex-direction: column;
              & .title { margin-right: 0 } } } }
        & .side-image { display: none } } } } }
@media ( max-width: 25.6em /* 409px */ ) {
  & .frame-container {
    & .fitmat {
      & .content-container {
        & .content-body {
          & .heading-container {
            & .heading-set {
              & .title { font-size: 8rem }
              & .subtitle { font-size: calc( 6.5vw + .2rem ) } } } } } } } } }
