#miscellaneous { margin-top: 11.2rem; padding-bottom: 13.7rem; border-bottom: solid 1.4rem nth( $c-4, 5 );
  & > .content-container { @include set-grid; @include row-flex( $side: flex-start );
    & .events { @include row-flex( flex-start, flex-start );
      @include title-5;
      & > .content-body {
        & .decorative-line { width: 36.2rem; height: .1rem; background-color: nth( $c-0, 15 ); margin: 5.3rem 0 5.3rem auto }
        & .events-list { margin-bottom: 6rem;
          & li { width: 39.2rem; box-shadow: unquote( nth( $bs, 1 ) );
            &:not( :last-child ) { border-bottom: solid .1rem nth( $c-0, 14 ); margin-bottom: 2.3rem }
            & .event { @include column-flex( flex-start, stretch );
              & > .image-block { display: none }
              & > .text-block { padding: 2.8rem 2.4rem; background-color: nth( $c-0, 16 ); @include row-flex( flex-start ); cursor: pointer;
                & .date { @include column-flex; padding-right: 2.1rem; border-right: solid .1rem nth( $c-0, 12 ); margin-right: 2rem;
                  & .day { font: { size: 2.8rem; weight: 700 }; color: nth( $c-0, 3 ) }
                  & .month { font: { size: 1.6rem; weight: 700 }; color: nth( $c-0, 13 ); text-transform: uppercase } }
                & > .heading-container { @include row-flex;
                  & > .title { flex-grow: 1; font: 700 1.6rem/1.12 $f-sans-1; color: nth( $c-0, 3 ); text-transform: uppercase; cursor: inherit }
                  & .plus { flex-shrink: 0; @include shape-circle( 1.6rem, transparent ); border: solid .2rem nth( $c-1, 3 ); margin-left: .5rem; position: relative; @include shape-plus( .8rem, .2rem, nth( $c-1, 3 ) ) } } }
              &[ class~="active" ] {
                & > .image-block { display: block }
                & > .text-block { background-image: unquote( nth( $lg, 3 ) ) } } } } }
        & .button-container { @include row-flex( flex-end );
          @include extended-button-1 {  } } } }
    & .quality { @include row-flex( flex-start, flex-start ); flex-basis: 60rem;
      @include title-5 { margin-right: 4rem };
      & > .content-body { margin-top: 3.6rem;
        & > .text-block { margin-bottom: 5.5rem;
          & > .title { font-size: 6rem; text-transform: uppercase; max-width: 32rem; margin-bottom: 3.8rem }
          & > .text-set {
            & .text {  } } } } } }
@media ( max-width: 76.2em /* 1219px */ ) { margin-top: 5rem; padding-bottom: 5rem;
  & > .content-container { flex-direction: column; align-items: center;
    & .events { margin-bottom: 4.5rem }
    & .quality { flex-basis: auto; width: 100%; max-width: 65rem } } }
@media ( max-width: 40.6em /* 649px */ ) {
  & > .content-container {
    & > .events, & > .quality { flex-direction: column; align-items: stretch;
      & .decorative-line { display: none }
      & > .heading-container { flex-direction: row; justify-content: space-evenly; margin-bottom: 3rem;
        & > .title { writing-mode: initial; transform: initial; margin-top: 0 } }
      & > .content-body { text-align: center; margin-top: 0;
        & > .text-block {
          & > .title { margin-bottom: 2.5rem; max-width: unset } } } } } }
@media ( max-width: 40.6em /* 649px */ ) { padding-bottom: 0;
  & .content-container {
    & .events {
      & > .content-body {
        & .events-list { margin-bottom: 3rem;
          & li { width: 29rem;
            & .event {
              & .text-block { padding: 1.2rem;
                & .date { padding-right: 1rem; margin-right: 1rem;
                  & .day { font-size: 1.8rem }
                  & .month { font-size: 1.4rem } }
                & .heading-container {
                  & .title { font-size: 1.2rem } } } } } } } }
    & .quality { display: none } } } }
