#outdoors { margin-top: -5rem;
  @include frame-container-2( ( image: o-get-img( large, "nature-3.jpg" ), position: 0% 100%, size: 125.6rem auto ), hsl( 45, 86%, 75% ), hsl( 48, 47%, 90% ) ) { padding-bottom: 18.4rem;
    & > .content-container { @include set-grid( ( 0, 4.6rem ) );
      @include title-1( nth( $c-1, 1 ), black ) }
    & .section-block {
      &:first-of-type { margin-top: 2rem }
      &:not( :last-of-type ) { margin-bottom: 14.6rem }
      & > .content-container { @include set-grid( ( 0 ), ( 0 ) ); @include row-flex( $side: flex-start );
        @include text-block-1 {
          & .heading-container { margin-top: -2rem } }
        & .side-image { filter: unquote( nth( $ds, 2 ) ); max-width: 60rem; max-height: 37.4rem } }
      &:nth-of-type( odd ) {
        & .content-body { order: 1 } }
      &:nth-of-type( even ) {
        & .content-body { order: -1 } } }
    & .outdoors-more { margin-top: 14rem;
      & > .content-container { @include set-grid( ( 0 ), ( 0 ) ); @include row-flex( $side: flex-end );
        @include text-block-2 } }
    & .loose-image { @include abs-center;
      & .swan { margin-right: 1.5rem }
      & .board { filter: unquote( nth( $ds, 1 ) ) } } }
@media ( max-width: 78.1em /* 1249px */ ) {
  & .frame-container {
    & .loose-image { display: none } } }
@media ( max-width: 71.85em /* 1149px */ ) {
  & .frame-container { background-size: 94rem auto, 100%;
    & .section-block {
      &:not( :last-of-type ) { margin-bottom: 6rem }
      & > .content-container { flex-direction: column; align-items: center; text-align: center;
        & .content-body { max-width: 90rem }
        & .side-image { margin-bottom: 3rem } }
      &:nth-of-type( n ) {
        & .content-body { order: 1 } } } } }
@media ( max-width: 59.35em /* 949px */ ) {
  & .frame-container { background: { image: unquote( nth( $lg, 6 ) ); size: 100%; position: 0% 0%  }; padding-bottom: 0;
    & .outdoors-more { margin-top: 0;
      & .content-container { flex-direction: column; align-items: center; text-align: center;
        & .content-body { max-width: 90rem; margin-bottom: 6rem;
          & .heading-container { max-width: none } } } } } }
@media ( max-width: 25.6em /* 409px */ ) {
  & .frame-container {
    & .section-block {
      & .content-container {
        & .content-body {
          & .heading-container {
            & .heading-set {
              & .title { font-size: 8rem }
              & .subtitle { font-size: calc( 6.5vw + .2rem ) } } } } } }
    & .outdoors-more {
      & > .content-container {
        & .content-body {
          & .heading-container {
            & .title { font-size: 5rem } } } } } } } }
