#products { margin-top: 5.5rem;
  @include frame-container-3( hsl( 210, 37%, 62% ),  ) {
    & > .content-container { @include set-grid( 0, 0 );
      @include title-1( nth( $c-2, 4 ), nth( $c-2, 4 ) );
      & .advantages-list { @include row-flex( flex-end ); margin-bottom: 10.5rem;
        & li {
          &:not( :last-child ) { margin-right: 6.3rem }
          & .image-container { text-align: center;
            & .ilustration { margin-bottom: 1.3rem }
            & .description-container { color: nth( $c-2, 5 ); text-transform: uppercase;
              & .title {  } } } } }
      & .product-category { @include row-flex;
        & > .heading-container { @include column-flex( flex-start, center ); max-width: 18.8rem;
          & .circle { margin-bottom: 2.5rem;
            & .ilustration { width: 100%; height: 100%;
              & img { @include img-center } } }
          & .title { font-size: 4rem; text-transform: uppercase; margin-bottom: 3rem; text-align: center }
          @include extended-button-2 }
        @each $class, $list in
          ( indoors: ( nth( $c-1, 1 ), nth( $c-1, 5 ), nth( $c-1, 1 ) ), outdoors: ( nth( $c-2, 6 ), nth( $c-2, 7 ), nth( $c-2, 7 ) ),
            training: ( nth( $c-3, 3 ), nth( $c-3, 4 ), nth( $c-3, 5 ) ), activities: ( nth( $c-4, 2 ), nth( $c-4, 3 ), nth( $c-4, 4 ) ) )
          { &.#{ $class } {
              & > .heading-container {
                & .circle { @include rounded-gradient( 12.7rem, .4rem, nth( $c-0, 1 ), o-colorize-1( nth( $list, 1 ) ) ) }
                & .title { color: nth( $list, 2 ) }
                & button { border-color: nth( $list, 3 ) } } } }
        & .products-row { flex-basis: 89.6rem; @include clearfix;
          & li { box-sizing: border-box; float: left; @include col-calc( 1.2rem, 3, 1 ); height: 34rem; padding: 1.8rem; background-color: nth( $c-0, 7 ); box-shadow: unquote( nth( $bs, 1 ) ); position: relative;
            & .product { position: relative;
              & .images-block { width: -moz-fit-content; width: fit-content; margin: 0 auto;
                & .product-image { height: 21rem; overflow: hidden; transform: translateY( -4.5rem ) }
                & .circle { @include shape-circle( 5rem, nth( $c-0, 1 ) ); border: .2rem solid nth( $c-2, 8 ); position: absolute; right: 0; top: 13rem;
                  & [ class$="-icon" ] { @include abs-center } } }
              & .tags { display: block; font: { size: 1.2rem; weight: 500 }; color: nth( $c-0, 9 ); margin: { top: -4rem; left: 2rem; bottom: 2rem }; @include icon-before( o-get-img( x-small, "tag-1.png" ), -1rem, -.2rem, relative ) }
              & .text-block {
                & .title { font: 700 1.8rem/1.15 $f-sans-1; color: nth( $c-0, 3 ); text-transform: uppercase; height: ( 1.8rem + .15 ) * 2; overflow: hidden; margin-bottom: 1.5rem }
                & .info-set { @include row-flex;
                  & .price-container { @include column-flex( flex-start, flex-start ); cursor: default;
                    & .previous-price { font-weight: 700; color: nth( $c-0, 10 );
                      & .whole { font-size: 1.4rem;
                        &:not( :empty )::before { content: "\20AC"; font: { size: 1rem; weight: 500 } } }
                      & .cents { font-size: 1rem } }
                    & .current-price { font-weight: 700; color: nth( $c-0, 3 );
                      & .whole { font-size: 2.5rem;
                        &::before { content: "\20AC"; font: { size: 2rem; weight: 500 } } }
                      & .cents { font-size: 1.8rem } } }
                  & button[ name^="cart-" ] { width: 14.6rem; height: 4.5rem; background-color: nth( $c-1, 3 ); position: relative;
                    & .content-container { @include abs-center; width: 95%; @include row-flex( center );
                      & .cart { margin-right: 1rem; transform: scaleX( -1 ) }
                      & .add { font: { size: 1.2rem; weight: 700 }; color: nth( $c-0, 3 ); text-transform: uppercase } } } } } }
            & .sale-box { box-sizing: border-box; height: 3.2rem; width: 8rem; border-left: solid .2rem nth( $c-5, 2 ); background-color: nth( $c-5, 1 ); position: absolute; left: 0; top: 1.8rem; cursor: default; border-radius: 0 .2rem .2rem 0; box-shadow: unquote( nth( $bs, 2 ) );
              & .content-container { width: 95%; @include abs-center; @include row-flex( center );
                & .star { margin-right: 1rem }
                & .message { font: { size: 1.4rem; weight: 700 }; color: nth( $c-5, 3 ); text-transform: uppercase } } } } }
        &:last-of-type { margin-bottom: 12.9rem } }
      & .divisor { width: 113.3rem; height: .1rem; background-color: nth( $c-0, 11 ); margin: 5.2rem 0 5.2rem auto } }
    & .product-sales {
      @include banner-1( ( o-get-img( large, "texture-2.jpg" ), nth( $c-5, 4 ) ), 5rem, -2.9rem ) } }
@media ( max-width: 78.1em /* 1249px */ ) {
  & .frame-container {
    & > .content-container {
      & .advantages-list { justify-content: center; margin-bottom: 6rem }
      & .product-category { flex-direction: column;
        & > .heading-container { flex-direction: row; width: 100%; max-width: none; justify-content: center; margin-bottom: 5rem;
          & > :nth-child( n ) { margin-bottom: 0 }
          & .circle { margin-right: 3rem } }
        & .products-row { flex-basis: auto; margin-bottom: 2rem }
        @include extended-button-2 { margin: 0 auto }
        @each $class, $color in
          ( indoors: nth( $c-1, 1 ), outdoors: nth( $c-2, 7 ), training: nth( $c-3, 5 ), activities: nth( $c-4, 4 ) )
        { &.#{ $class } {
            & > button { border-color: $color } } }
        &:last-of-type { margin-bottom: 9.5rem } } }
    & .product-sales {
      & .content-container {
        & .banner-container {
          & .ilustration { left: -3.7rem }
          & .title { font-size: 5rem } } } } } }
@media ( max-width: 67.45em /* 1079px */ ) {
  & .frame-container {
    & > .content-container {
      & .advantages-list { margin-top: 2rem}
      & .product-category {
        & > .products-row {
          & li { @include col-calc( 2.5rem, 2, 1, 2n ); margin-bottom: 5rem;
            &:last-child { margin: 0; transform: translateX( 50% ) } } } } }
    & .product-sales {
      & .content-container {
        & .banner-container { padding: 0 1rem; justify-content: space-between;
          & .ilustration { display: none }
          & .title { margin-right: 0 } } } } } }
@media ( max-width: 46.85em /* 749px */ ) {
  & .frame-container {
    & > .content-container { padding-bottom: .5rem;
      & .product-category {
        & > .products-row { width: 100%;
          & li { float: unset; width: auto; max-width: 40rem; display: block;
            &:nth-child( n ) { margin: { right: auto; left: auto }; transform: none } } } } }
    & .product-sales { display: none } } }
@media ( max-width: 31.2rem /* 499px */ ) {
  & .frame-container {
    & > .content-container {
      & .heading-container { margin-bottom: 3rem }
      & .advantages-list { display: none }
      & .product-category:nth-of-type( n ) {
        & .heading-container {
          & .circle { width: 10rem; height: 10rem }
          & .title { font-size: 3.5rem } } } } } }
@media ( max-width: 23.7em /* 379px */ ) {
  & .frame-container {
    & > .content-container {
      & .product-category {
        & .products-row {
          & li {
            & .product {
              & .text-block {
                & .info-set {
                  & button[ name^="cart-" ] { width: 12rem; height: 4rem;
                    & .content-container {
                      & .cart { transform: scale( -.85, .85 ) }
                      & .add { font-size: 1.1rem } } } } } } } } } } } } }
