#training { margin-top: 8.8rem;
  @include frame-container-2( ( image: o-get-img( large, "person-1.jpg" ), position: right 5.2rem, size: contain ), hsl( 31, 76%, 77% ), hsl( 33, 33%, 94% ), true ) { height: 77rem; margin-bottom: 12.8rem;
    & > .content-container { @include set-grid( ( 0, 2.5rem ) );
      @include title-1( nth( $c-3, 1 ), nth( $c-3, 2 ) ) }
    & .instructor-training {
      & > .content-container { @include set-grid( $h-pad: 0 );
        & .content-body { max-width: 76.5rem;
          & .heading-container { margin-bottom: 4rem;
            & .heading-set {
              & .title { font-size: 10rem; color: nth( $c-3, 2 ); text-transform: uppercase; line-height: .85; margin-bottom: 4rem }
              & .subtitle { font: { size: 3rem; weight: 500 }; color: nth( $c-0, 3 ) } } }
          & .text-set { margin-bottom: 5rem;
            & .text {  } }
          @include anchors-block-1 ( $dark-video: false ) } } } }
  & .instructor-call {
    @include banner-1( ( o-get-img( large, "texture-1.jpg" ), nth( $c-4, 1 ) ), 2.5rem, -8.5rem ) {  } }
@media ( max-width: 78.1em /* 1249px */ ) {
  & .instructor-call {
    & .content-container {
      & .banner-container {
        & .ilustration { left: 0 }
        & .title { font-size: 5rem } } } } }
@media ( max-width: 74.95em /* 1199px */ ) {
  & .frame-container {
    & .instructor-training {
      & .content-container {
        & .content-body { max-width: none; text-align: center } } } } }
@media ( max-width: 67.45em /* 1079px */ ) {
  & .instructor-call {
    & .content-container {
      & .banner-container { padding: 0 1rem; justify-content: space-between;
        & .ilustration { display: none }
        & .title { margin-right: 0; font-size: 4rem }
        & .action-button { width: 18rem; height: 5.5rem;
          & .content { font-size: 2rem } } } } } }
@media ( max-width: 48.7em /*779px*/ ) {
  & .frame-container { margin-bottom: 18rem } }
@media ( max-width: 46.85em /* 749px */ ) {
  & .instructor-call { display: none } }
@media ( max-width: 34.35em /* 549px */ ) {
  & .frame-container {
    & .instructor-training {
      & > .content-container {
        & .content-body {
          & .heading-container {
            & .heading-set {
              & .title { font-size: calc( 14vw + 1.4rem ) } } } } } } } }
@media ( max-width: 25.6em /* 409px */ ) {
  & .frame-container {
    & .instructor-training {
      & .content-container {
        & .content-body {
          & .heading-container {
            & .heading-set {
              & .subtitle { font-size: calc( 6.5vw + .2rem ) } } } } } } } } }
