// Componentes
  // Botões
    // Padrão
    @mixin default-button( $selector: "button", $b-color: nth( $c-1, 1 ), $bg-color: nth( $c-0, 6 ) )
      { & #{ unquote( $selector ) } { box-sizing: border-box; border: solid .2rem $b-color; background-color: $bg-color; position: relative;
          & > .content-container { @include abs-center; @include row-flex( center ); width: 95% }
        @content; } }
    // Estendidos
    @mixin extended-button-1( $b-color: nth( $c-1, 1 ), $rmar: 2.5rem )
      { @include default-button( "button[ name='events-all' ]", $b-color, nth( $c-0, 1 ) ) { width: 16.8rem; height: 5.3rem;
          & > .content-container {
            & .side-image { margin-right: $rmar }
            & .call { font: { size: 1.4rem; weight: 700 }; text-transform: uppercase; color: nth( $c-0, 3 ) } }
        @media ( max-width: 40.6em /* 649px */ ) { width: 14rem; height: 5rem }
        @content; } }
    @mixin extended-button-2
      { & > button { align-self: flex-start; width: 16.4rem; height: 4.9rem; border: solid .2rem; position: relative;
          & .content-container { width: 100%; @include abs-center; @include row-flex( center );
            & .cart { margin-right: 2.3rem }
            & .message { font: { size: 1.4rem; weight: 700 }; color: nth( $c-0, 3 ); text-transform: uppercase } }
        @content; } }
    // De Login
    @mixin login-button-1
      { & button[ name$="-login" ] { box-sizing: border-box; height: 6.5rem; width: 13rem; border: solid .2rem; border-radius: 4rem; position: relative; border-color: nth( $c-1, 1 ); background-color: nth( $c-0, 1 );
          & .content-container { @include abs-center; width: 85%;
            & .content { & .content { font: { size: 1rem; weight: 700 }; color: nth( $c-0, 3 ); text-transform: uppercase } } }
        @content; } }
    // De Compras
    @mixin cart-button-1
      { & button[ name$="-cart" ] { box-sizing: border-box; height: 6.5rem; width: 13rem; border: solid .2rem; border-radius: 4rem; position: relative; border-color: transparent; background-color: nth( $c-1, 1 );
          & .content-container { @include abs-center; @include row-flex; width: 75%;
            & .image-set { position: relative;
              & .cart {  }
              & .circle { display: inline-block; @include shape-circle( 2.1rem, nth( $c-2, 1 ) ); position: absolute; top: -1.1rem; left: 1.2rem;
                & .quantity { font: { size: 1.2rem; weight: 700 }; color: nth( $c-0, 1 ); @include abs-center( left ); top: 25% } } }
            & .text-set { text-align: left; transform: translateX( .5rem );
              & .name { display: block; font: { size: 1rem; weight: 700 }; color: nth( $c-1, 2 ); text-transform: uppercase }
              & .price { display: block; font: { size: 1.4rem; weight: 900 }; color: black } }
            & .arrow { align-self: flex-start; transform: translateY( -.4rem ) } }
        @content; } }
    // De Saiba Mais
    @mixin know-more-button-1( $b-color: nth( $c-1, 1 ), $bg-color: nth( $c-0, 6 ) )
      { @include default-button( "button[ name$='-know-more' ]", $b-color, $bg-color ) { width: 19rem; height: 6.5rem;
          & > .content-container {
            & .circle { @include shape-circle( 1.6rem, transparent ); border: solid .2rem $b-color; position: relative; @include shape-plus( .8rem, .2rem, nth( $c-1, 1 ) ); margin-right: 1.8rem }
            & .call { display: inline-block; font: { size: 1.4rem; weight: 700 }; color: nth( $c-0, 3 ); text-transform: uppercase; margin-top: .3rem } }
        @media( max-width: 28.1em /* 449px */ ) { width: 17.5rem; height: 5.5rem;
          & > .content-container {
            & .call { font-size: 1.3rem } } }
        @content; } }
  // Molduras
    // Primeira
    @mixin frame-container-1( $img )
      { & .frame-container { @include set-grid( $grid: 171.4rem );
                             background: { image: url( map-get( $img, image ) ); repeat: no-repeat;
                                           position: map-get( $img, position ); size: map-get( $img, size ) }
        @content; } }
    // Segunda
    @mixin frame-container-2( $img, $color-1, $color-2, $drop-img: false )
      { & .frame-container { @include set-grid( $grid: 171.4rem ); position: relative; z-index: 0;
                             background: { image: url( map-get( $img, image ) ),
                                                  linear-gradient( 90deg, $color-1, $color-1 12.40%, transparent 12.45%, transparent 33.9%, $color-1 33.95% ),
                                                  linear-gradient( 135deg, $color-2, adjust-color( $color-2, $saturation: -10%, $lightness: 3% ) 10%, hsl( 0, 0%, 93% ) 19.5%, hsl( 0, 0%, 95% ) );
                                           repeat: no-repeat; position: map-get( $img, position ), center 5rem, center 5.2rem;
                                           size: map-get( $img, size ), 100% .2rem, 100% }
        @media ( max-width: 104.95em /*1679px*/ ) { background-image: url( map-get( $img, image ) ),
                                                                      linear-gradient( 90deg, $color-1, $color-1 6.4%, transparent 6.45%, transparent 30.9%, $color-1 30.95% ),
                                                                      linear-gradient( 135deg, $color-2, adjust-color( $color-2, $saturation: -10%, $lightness: 3% ) 10%, hsl( 0, 0%, 93% ) 19.5%, hsl( 0, 0%, 95% ) ) }
        @media ( max-width: 91.2em /*1459px*/ ) { background-image: url( map-get( $img, image ) ),
                                                                    linear-gradient( 90deg, transparent, transparent 30.9%, $color-1 30.95% ),
                                                                    linear-gradient( 135deg, $color-2, adjust-color( $color-2, $saturation: -10%, $lightness: 3% ) 10%, hsl( 0, 0%, 93% ) 19.5%, hsl( 0, 0%, 95% ) ) }
        @media ( max-width: 74.95em /* 1199px */ )
          { @if $drop-img
              { background-image: linear-gradient( 135deg, $color-2, adjust-color( $color-2, $saturation: -10%, $lightness: 3% ) 40%, hsl( 0, 0%, 93% ) 60%, hsl( 0, 0%, 95% ) );
                background-size: 100%; background-position: 0% 0% }
            @else
              { background-image: url( map-get( $img, image ) ), linear-gradient( 135deg, $color-2, adjust-color( $color-2, $saturation: -10%, $lightness: 3% ) 40%, hsl( 0, 0%, 93% ) 60%, hsl( 0, 0%, 95% ) );
                background-size: map-get( $img, size ), 100%; background-position: map-get( $img, position ), center 5.2rem } }
        @content; } }
    // Terceira
    @mixin frame-container-3( $color-1 )
      { & .frame-container { @include set-grid( $grid: 171.4rem ); position: relative; z-index: 0;
                             background: { image: linear-gradient( 90deg, $color-1, $color-1 12.40%, transparent 12.45%, transparent 33.9%, $color-1 33.95% ),
                                                  linear-gradient( 90deg, hsl( 0, 0%, 96% ), hsl( 0, 0%, 93% ) 12.40%, hsl( 0, 0%, 92% ) 40%, hsl( 0, 0%, 96% ) );
                                           repeat: no-repeat; position: center 5rem, center 5.2rem; size: 100% .2rem, 100% }
        @media ( max-width: 104.95em /*1679px*/ ) { background-image: linear-gradient( 90deg, $color-1, $color-1 6.4%, transparent 6.45%, transparent 30.9%, $color-1 30.95% ),
                                                                      linear-gradient( 90deg, hsl( 0, 0%, 96% ), hsl( 0, 0%, 93% ) 12.40%, hsl( 0, 0%, 92% ) 40%, hsl( 0, 0%, 96% ) ) }
        @media ( max-width: 91.2em /*1459px*/ ) { background-image: linear-gradient( 90deg, transparent, transparent 30.9%, $color-1 30.95% ),
                                                                    linear-gradient( 90deg, hsl( 0, 0%, 96% ), hsl( 0, 0%, 93% ) 12.40%, hsl( 0, 0%, 92% ) 40%, hsl( 0, 0%, 96% ) ) }
        @media ( max-width: 74.95em /* 1199px */ ) { background-image: linear-gradient( 90deg, hsl( 0, 0%, 96% ), hsl( 0, 0%, 93% ) 12.40%, hsl( 0, 0%, 92% ) 40%, hsl( 0, 0%, 96% ) );
                                                     background-size: 100% }
        @content; } }

  // Formulários
    // Primeiro
    @mixin form-1( $selector, $left: initial, $top: initial )
      { & form#{ unquote( $selector ) } { margin-bottom: 4rem;
          & .heading-container { position: relative; margin-bottom: 2.5rem;
            & .title { font: { family: $f-sans-1; size: 1.6rem; weight: 500 }; color: white; text-transform: uppercase }
            & .decorative-border { position: absolute; left: $left; top: $top } }
          & input[ name$="-email" ] { box-sizing: border-box; width: 29.5rem; padding: 1.1rem 1.5rem; border: solid .1rem nth( $c-0, 1 ); border-radius: .5rem; background-color: white; color: nth( $c-0, 3 ); font-size: 1.4rem;
            @media ( max-width: 21.85em /* 349px */ ) { width: 26rem }
            @include fade-placeholder( nth( $a-dt, 1 ) ) { color: nth( $c-0, 9 ) } }
        @content; } }
  // Listas
    // Primeira
    @mixin list-1
      { & li { display: inline-block;
          &:not( :last-child ) { margin-right: 4.2rem }
        @content; } }

  // Logotipos
  @mixin logo-1
    { & > .logo-container { @include column-flex( flex-start, flex-start ); cursor: default;
        & .logo { margin-bottom: 1.2rem }
        & .message { font: { size: 1.1rem; weight: 300 }; color: white }
      @media ( max-width: 74.95em /* 1199px */ ) {
        & .logo { margin: { left: auto; right: auto } } }
      @content; } }

  // Setas
    // Primeira
    @mixin arrow-1
      { & .circle { @include shape-circle( 6.2rem, nth( $c-0, 5 ) ); @include abs-center;
        & .arrow { @include shape-full-arrow( 1.2rem, nth( $c-1, 1 ), 90deg, o-get-img( x-small, "arr-2.png" ), translate( -50%, -50% ) ); position: absolute; top: 50%; left: 35% } } }

  // Bâneres
  @mixin banner-1 ( $bg, $left: 0, $top: 0 )
    { & .content-container { @include set-grid;
        & .banner-container { @include row-flex( flex-end ); box-sizing: border-box; width: 100%; height: 12rem; padding: 0 3.2rem; background: url( nth( $bg, 1 ) ) no-repeat center/cover nth( $bg, 2 ); position: relative; cursor: pointer;
          & .ilustration { position: absolute; left: $left; top: $top }
          & .title { font-size: 6rem; text-transform: uppercase; color: white; margin-right: 3.6rem; cursor: pointer }
          & .action-button { box-sizing: border-box; width: 22.1rem; height: 6.5rem; border: solid .2rem white; @include row-flex( center );
            & .content { font: { size: 2.5rem; weight: 900 }; color: white; text-transform: uppercase } } } } }

// Blocos de Estilo
  // Títulos
    // Primeiro
    @mixin title-1 ( $rnd-bg, $f-color )
      { & > .heading-container { @include row-flex( flex-start );
          & .circle { @include rounded-gradient( 9.6rem, .3rem, nth( $c-0, 1 ), linear-gradient( 125deg, #{ $rnd-bg }, #{ adjust-color( $rnd-bg, $saturation: -37%, $lightness: 34% ) } ) ); margin-right: 4rem;
            & .ilustration { width: 100%; height: 100%;
              & img { @include img-center } } }
          & > .title { font: { size: 3rem; weight: 800 }; color: $f-color; text-transform: uppercase }
        @content; } }
    // Segundo
    @mixin title-2 ( $color: nth( $c-1, 3 ) )
      { & > .heading-set {
          & .title { font-size: 10rem; color: $color; margin-bottom: 2.4rem; text-transform: uppercase }
          & .subtitle { font: { size: 3rem; weight: 500; color: nth( $c-0, 3 ) } }
        @content; } }
    // Terceiro
  @mixin title-3 ( $width: 26rem, $color: nth( $c-0, 3 ) )
    { & { max-width: $width; margin-bottom: 2.4rem;
          .title { font-size: 6rem; color: $color; text-transform: uppercase; @content; } } }
  // Quarto
  @mixin title-4
    { & > .heading-container { margin-bottom: 4.5rem;
        & .heading-set { @include row-flex( flex-start );
          & .title { font-size: 10rem; color: nth( $c-2, 3 ); text-transform: uppercase; margin-right: 5.6rem }
          & .subtitle { font: { size: 3rem; weight: 500 }; transform: translateY( 1.2rem ) } }
      @content; } }
  // Quinto
  @mixin title-5
    { & > .heading-container { @include column-flex;
        & .circle { @include rounded-gradient( 9.7rem, .3rem, hsl( 200, 14%, 94% ), unquote( nth( $lg, 4 ) ) );
          & .ilustration { width: 100%; height: 100%;
            & img { @include img-center } } }
        & .title { font: { size: 3rem; weight: 800 }; color: nth( $c-0, 9 ); text-transform: uppercase; writing-mode: vertical-lr; transform: rotate( 180deg ); margin-top: 3.2rem }
        & .decorative-line { width: .1rem; height: 65rem; background-color: nth( $c-0, 15 ); margin-top: 4.2rem }
      @content; } }

  // Bloco de Âncoras
    // Primeiro
    @mixin anchors-block-1 ( $dark-video: true )
      { & .anchors-container { @include row-flex;
          & .video-anchor { display: inline-block; position: relative;
            & .video-post { filter: if( $dark-video, brightness( 60% ) unquote( nth( $ds, 2 ) ), unquote( nth( $ds, 2 ) ) ) }
            @include arrow-1 }
          @include know-more-button-1;
        @media ( max-width: 48.7em /*779px*/ ) { flex-direction: column;
          & .video-anchor { margin-bottom: 2rem } }
        @content; } }
  // Bloco Textual
    // Primeiro
    @mixin text-block-1 ( $width: 39.5rem, $c-heading: nth( $c-1, 3 ), $c-button-b: nth( $c-1, 1 ), $c-button-bg: nth( $c-0, 6 ) )
      { & .content-body { max-width: $width;
          & .heading-container { margin-bottom: 2.4rem; @include title-2( $c-heading ) }
          & .text-set { margin-bottom: 4.2rem;
            & .text {  } }
          @include know-more-button-1( $c-button-b, $c-button-bg );
        @content; } }
    // Segundo
    @mixin text-block-2 ( $w-heading: 26rem, $c-heading: nth( $c-0, 3 ), $w-text: 39.5rem, $c-button-b: nth( $c-1, 1 ), $c-button-bg: nth( $c-0, 6 ) )
      { & .content-body { max-width: $w-text;
          & .heading-container { margin-bottom: 2.4rem; @include title-3( $w-heading, $c-heading ) }
          & .text-set { margin-bottom: 4.2rem;
            & .text {  } }
          @include know-more-button-1( $c-button-b, $c-button-bg );
        @content; } }
