// Endereços
$img-path: ( x-small: "multimedia/images/x-small/S-", small: "multimedia/images/small/s-", medium: "multimedia/images/medium/m-", large: "multimedia/images/large/l-", x-large: "multimedia/images/x-large/L-" );

// Fontes
@include museo-sans; @include akrobat;

$f-sans-1: "Museo Sans", sans-serif; $f-sans-2: "Akrobat", sans-serif;

// Cores
$c-0: ( hsl( 0, 0%, 96% ), hsl( 0, 0%, 31% ), hsl( 0, 0%, 26% ), hsl( 0, 0%, 46% ),
        hsl( 0, 0%, 98% ), hsl( 0, 0%, 94% ), hsl( 0, 0%, 95% ), hsl( 0, 0%, 91% ),
        hsl( 0, 0%, 74% ), hsl( 0, 0%, 79% ), hsl( 0, 0%, 88% ), hsl( 0, 0%, 85% ),
        hsl( 0, 0%, 58% ), hsl( 0, 0%, 82% ), hsl( 0, 0%, 80% ), hsl( 0, 0%, 84% ) );
$c-1: ( hsl( 45, 100%, 50% ), hsl( 45, 100%, 30% ), hsl( 45, 93%, 55% ), hsl( 46, 81%, 77% ),
        hsl( 43, 88%, 72% ) );
$c-2: ( hsl( 224, 100%, 58% ), hsl( 206, 75%, 36% ), hsl( 210, 88%, 32% ), hsl( 210, 70%, 37% ),
        hsl( 213, 57%, 40% ), hsl( 210, 39%, 67% ), hsl( 216, 32%, 58% ), hsl( 210, 78%, 35% ) );
$c-3: ( hsl( 31, 84%, 62% ), hsl( 31, 86%, 59% ), hsl( 30, 79%, 80% ), hsl( 28, 82%, 74% ),
        hsl( 31, 91%, 73% ) );
$c-4: ( hsl( 194, 71%, 45% ), hsl( 191, 60%, 81% ), hsl( 191, 61%, 75% ), hsl( 190, 67%, 63% ),
        hsl( 195, 35%, 91% ), hsl( 200, 36%, 95% ), hsl( 192, 61%, 53% ), hsl( 192, 52%, 48% ),
        hsl( 194, 72%, 40% ) );
$c-5: ( hsl( 151, 85%, 45% ), hsl( 151, 82%, 43% ), hsl( 173, 100%, 21% ), hsl( 146, 100%, 35% ) );

// Gradientes
$lg: ( "linear-gradient( 90deg, hsl( 45, 86%, 75% ), hsl( 45, 86%, 75% ) 12.40%, transparent 12.45%, transparent 33.9%, hsl( 45, 86%, 75% ) 33.95% )",
       "linear-gradient( 135deg, hsl(48, 47%, 90%), hsl(46, 37%, 93%) 10%, hsl( 0, 0%, 93% ) 19.5%, hsl( 0, 0%, 95% ) )",
       "linear-gradient( 90deg, hsl( 0, 0%, 96% ), hsl( 0, 0%, 91% ) )",
       "linear-gradient( 125deg, hsl( 0, 0%, 69% ), hsl( 0, 0%, 85% ) )",
       "linear-gradient( 180deg, hsl( 192, 52%, 48% ), hsl( 192, 52%, 48% ) 73.5%, hsl( 194, 72%, 40% ) 74% )",
       "linear-gradient( 135deg, hsl( 48, 47%, 90% ), #{ adjust-color( hsl( 48, 47%, 90% ), $saturation: -10%, $lightness: 3% ) } 40%, hsl( 0, 0%, 93% ) 60%, hsl( 0, 0%, 95% ) )" );

$rg: ( "radial-gradient( closest-corner circle at 20% 75%, hsla( 204, 49%, 85%, 1) 0%, hsla( 204, 49%, 85%, .15) 100% )",
       "radial-gradient( closest-side circle at 18% 38rem, hsla( 204, 49%, 85%, 1) 0%, hsla( 204, 49%, 85%, .15) 100% )" );

// Sombras
$ts: ( "0 .2rem .3rem rgba( 0, 0, 0, .25 )", "0 0 14rem rgba( 0, 0, 0, .25 )" );

$bs: ( "0 .1rem .8rem rgba( 0, 0, 0, .15 )", "0 .3rem .8rem rgba( 0, 0, 0, .15 )" );

$ds: ( "drop-shadow( 0 0 1.5rem rgba( 0, 0, 0, .25 ) )", "drop-shadow( 0 .3rem 1rem rgba( 0, 0, 0, .25 ) )" );

// Animações & Transições
$a-dt: ( .5s ease-out );

// Componentes
$default-bg: nth( $c-0, 1 );
