#top-header .intro {
  & .content-container { @include set-grid; @include row-flex( $side: flex-start );
    & .text-container { margin-top: 4.2rem; position: relative; z-index: 1;
      & .heading-container { margin-bottom: 3rem;
        & .heading-set {
          & .title { font-size: 15.1rem; color: white; text-transform: uppercase; line-height: .86; white-space: nowrap; margin-bottom: 4.2rem;
            & .line { text-shadow: o-slice( $ts, 1, 2, true );
              &:nth-child( 1 ) { letter-spacing: -.3rem }
              &:nth-child( 2 ) { letter-spacing: -.5rem } } }
          & .subtitle { font: { size: 4rem; weight: 500 }; color: nth( $c-1, 3 ); word-spacing: .3rem; text-shadow: o-slice( $ts, 1, 2, true ) } } }
      & .text-set { font: { size: 1.7rem; weight: 300 }; max-width: 52rem;
        & .text { text-shadow: o-slice( $ts, 1, 2, true ); color: white; line-height: 1.52 } } }
    & .side-image { flex-shrink: 0; position: relative; z-index: 0; right: 9.4rem; filter: unquote( nth( $ds, 2 ) ) } } }
