#top-header .menu { margin-bottom: 2rem;
  & > .content-container { @include set-grid( ( 1.8rem ) ); @include row-flex; position: relative; z-index: 2;
    & .logo { align-self: flex-start }
    & .links-container { @include row-flex; font: { size: 1.2rem; weight: 500 }; color: nth( $c-0, 2 ); text-transform: uppercase; margin-top: .8rem;
      & .pages-list {
        & li { display: inline-block; margin-right: 3rem; cursor: pointer;
          @include icon-after( o-get-img( x-small, "arr-1.png" ), -.7rem, .1rem, relative ) { opacity: .6 }
          &.nests-list::after { transform: rotate( 90deg ); opacity: 1 }
          & a {  } } }
      & .idioms-list { position: relative;
        @include icon-after( o-get-img( x-small, "arr-1.png" ), -.7rem, .1rem ) { transform: rotate( 90deg ); cursor: pointer }
        & li { padding: 0 .6rem;
          &.en {  } } } }
    & .button-set {
      & button:not( :last-of-type ) { margin-right: 1rem }
      @include login-button-1; @include cart-button-1 }
    & .loose-menu { position: absolute; left: 22rem; bottom: -3.8rem;
      & li { display: inline-block;
        &:not( :last-child ) { margin-right: 3.2rem } } } } }
