/* Pré-Configurações Gerais */
@import "../global/default-presets/rules", "../global/default-presets/mixins", "../global/default-presets/functions", "../global/default-presets/animations", "../global/default-presets/typography";

/* Pré-Configurações do Site */
@import "../global/site-presets/variables", "../global/site-presets/mixins", "../global/site-presets/functions";

/* Configurações Locais */
  // Regras
  body { font: 300 1.4rem/1 $f-sans-1; background-color: $default-bg;
    & .title { font: { family: $f-sans-2; weight: 900 } }
    & .text { color: nth( $c-0, 4 ); line-height: 1.71 } }

/* Componentes */
@import "top-header/top-header", "../global/site-presets/top-header/menu", "top-header/intro",
        "top-content/about-page", "top-content/activities/activities", "top-content/activities/indoors", "top-content/activities/outdoors",
        "top-content/activities/training", "top-content/activities/products", "top-content/activities/miscellaneous",
        "../global/site-presets/top-footer/top-footer", "../global/site-presets/top-footer/general-info", "../global/site-presets/top-footer/copyright";
